<?php
/**
 * Created for IG Monitoring.
 * User: jakim <pawel@jakimowski.info>
 * Date: 26.01.2018
 */

return [
    'class' => \yii\authclient\Collection::class,
    'clients' => [
        'google' => [
            'class' => \yii\authclient\clients\Google::class,
            'clientId' => '',
            'clientSecret' => '',
            'returnUrl' => '', // https://github.com/yiisoft/yii2-authclient/issues/241
        ],
    ],
];